$boxshadowColor:  rgba(0, 0, 0, 0.2);
$fontFamily: "ROBOTO",sans-serif;
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    font-family: $fontFamily;
    .wrapper{
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 4px 40px -8px $boxshadowColor;
            overflow: hidden;
        img{
            width: 100%;
            }
    }
    .description{
        h2{
                font-size: 30px;
                margin: 0;
                margin-top: 16px;
        }
        p{
                font-size: 15px;
                line-height: 2;
        }
    }
}
.description {
    padding: 0px 16px;
}